@font-face {
    font-family: "Sans Pro";
    src: url(font/SourceSansPro-Regular.ttf) format('ttf'),
    url(font/SourceSansPro-SemiBold.ttf) format('ttf');
}

html {
    color: #222224;
    font-family: "Sans Pro", Arial, sans-serif;
    font-size: 1.1em;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #445172;
    display: flex;
    padding-left: 1%;
    width: 99%;
}

h1 {
    color: #ebedf1;
    margin-left: 4%;
    width: 100%;
}

h3 {
    color: #a2a3a7;
    margin-left: 4%;
}

#navbar {
    position: relative;
    left: 55%;
}

#nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 12%;
}

#nav-list li {
    list-style: none;
    margin: 8%;
    position: relative;
    right: 60%;
}

a {
    color: #ebedf1;
}

#main-flex-item {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

body {
    background-color: #ebedf1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    width: 70%;
}

#profile {
    height: 70%;
    margin-right: 5%;
    overflow: auto;
}

#profile, li {
    line-height: 1.6em;
}

h2 {
    border-bottom: 1px solid #445172;;
    color: #445172;;
    font-size: 1.8em;
    padding-bottom: 0.5%;
    width: 95%;
}

h4 {
    color: 	#445172;;
}

ul {
    list-style-type: square;
}

main section {
    display: flex;
    flex-direction: column;
}

.section-data {
    display: flex;
    flex-direction: column;
}

.data-block {
    display: flex;
    flex-direction: row;
}

.date {
    width: 30%;
}

.date h4 {
    margin-left: 7%;
}

.explanation {
    width: 70%;
}

.explanation ul {
    position: relative;
    bottom: 10%;
}


.education ul {
    position: relative;
    bottom: 18%;
}

aside {
    background-color:	#b4cbf5;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    width: 30%;
}

@media only screen and (max-width: 360px) {
    html {
        font-size: 0.7em;
    }

    header {
        flex-direction: column;
        justify-content: flex-start;
    }

    #name {
        order: 2;
    }

    #navbar {
        order: 1;
        left: 15%;
        width: 40%;
    }

    #main-flex-item {
        flex-direction: column;
    }

    main {
        width: 100%;
    }

    #profile {
        height: 20%;
    }

    ul {
        width: 80%;
    }

    aside {
        width: 100%;
    }

    #personal-info-div {
        position: relative;
        left: 3%;
    }

    aside ul {
        position: relative;
        left: 12%;
        width: 60%;
    }

}

@media only screen and (min-width: 360px) and (max-width: 480px) {
    html {
        font-size: 0.7em;
    }

    h1 {
        font-size: 1.4em;
    }

    #navbar {
        width: 61%;
    }

    #nav-list li {
        margin: 3%;
    }

    ul {
        position: relative;
        right: 12%;
    }

}

@media only screen and (min-width: 480px) and (max-width: 600px) {
    html {
        font-size: 0.9em;
    }

    #navbar {
        left: 24%;
        margin-top: 1%;
        width: 40%;
    }

    #nav-list {
        flex-direction: column;
    }

    #nav-list li {
        margin: 2% 0% 0% 25%;
    }

    .explanation {
        margin-right: 3%;
    }

    aside {
        padding-left: 3%;
        width: 40%;
    }

    aside ul {
        position: relative;
        width: 60%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    html {
        font-size: 0.9em;
        color: red;
    }

    #navbar {
        left: 30%;
        margin-top: 0.6%;
        width: 40%;
    }

    #nav-list li {
        margin: 5%;
    }

    .date {
        width: 25%;
    }

    explanation {
        width: 75%;
    }
    
    aside {
        width: 40%;
    }

    aside ul {
        position: relative;
        left: 6%;
        width: 60%;
    }
}